.courseBackground {
    background-color: grey;
    .head {
        padding: 30px 0;
        background-color: #fff;
    }
    .courses {
        display: flex;
        flex-wrap: wrap;
        .courseItem{
            margin-right: 30px;
            width: 350px;
        }
    }

}
