.makeStyles-search-4 {
    height: 40px;
    padding: 5px;
}
.MuiAutocomplete-root {
    .MuiOutlinedInput-notchedOutline {
        border: none;
    }
}
.MuiAppBar-colorPrimary {
    position: fixed !important;
    top: 0;
}
.css-168o85v-MuiAutocomplete-root .MuiOutlinedInput-root {
    padding: 0 !important;
}

.MuiBox-root{
    .MuiAppBar-root{
        border-radius: 0 0 20px 20px;
    }
}
