.css-cvhtoe-MuiButtonBase-root-MuiListItemButton-root{
    padding: 0!important;
    li{
        width: 100%;
    }
}
.Mui-selected{
    background-color: #d4e8f8c7!important;
    .css-i4bv87-MuiSvgIcon-root{
        color: #2196f3;
    }
    .css-10hburv-MuiTypography-root{
        color: #2196f3;
    }
}