.background {
    background: url("../../Assets/image/backgroundCarousel.svg") no-repeat center center;
    background-size: cover;
    height: 750px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    .content {
        max-width: 1220px;
        margin: 100px 0;
        position: relative;
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 300px;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.616), transparent);
            z-index: 1;
            border-bottom-right-radius: 30px;
            border-bottom-left-radius: 30px;
        }
        img {
            display: block;
            width: 100%;
            border-radius: 30px;
        }
        .text{
            position: absolute;
            bottom: 0;
            z-index: 2;
            color: #fff;
            margin: 40px;
            max-width: 500px;            
            h4{
                font-size: 50px;
                font-weight: 600;
                margin-bottom: 30px;
                letter-spacing: 1px;
            }
            
        }
    }
}